<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/style.css}">
<title>クイズ</title>
</head>
<body>

<div class="container">

<h1>スキルチェッククイズ</h1>

<form th:action="@{/result}" method="post">

<div class="question" th:each="q : ${questions}">

    <p th:text="${q.question}"></p>

    <label>
        <input type="radio" th:name="'q'+${q.id}" value="1">
        <span th:text="${q.choice1}"></span>
    </label>

    <label>
        <input type="radio" th:name="'q'+${q.id}" value="2">
        <span th:text="${q.choice2}"></span>
    </label>

    <label>
        <input type="radio" th:name="'q'+${q.id}" value="3">
        <span th:text="${q.choice3}"></span>
    </label>

    <label>
        <input type="radio" th:name="'q'+${q.id}" value="4">
        <span th:text="${q.choice4}"></span>
    </label>

</div>

<button type="submit">採点する</button>

</form>

</div>

</body></html>
